In [62]:
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

In [55]:
data = pd.read_csv('abalone.csv')
data.head()

,Sex,Length,Diameter,Height,WholeWeight,ShuckedWeight,VisceraWeight,ShellWeight,Rings
0,M,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,M,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,F,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,M,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,I,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

In [56]:
data['Sex'] = data['Sex'].map(lambda x: 1 if x == 'M' else (-1 if x == 'F' else 0))
data.head()

,Sex,Length,Diameter,Height,WholeWeight,ShuckedWeight,VisceraWeight,ShellWeight,Rings
0,1,0.455,0.365,0.095,0.5140,0.2245,0.1010,0.150,15
1,1,0.350,0.265,0.090,0.2255,0.0995,0.0485,0.070,7
2,-1,0.530,0.420,0.135,0.6770,0.2565,0.1415,0.210,9
3,1,0.440,0.365,0.125,0.5160,0.2155,0.1140,0.155,10
4,0,0.330,0.255,0.080,0.2050,0.0895,0.0395,0.055,7

In [57]:
X = data.iloc[:,:-1]
y = data['Rings']

In [68]:
for n in range(1,51):
    clf = RandomForestRegressor(n_estimators=n, random_state=1)
    kf = KFold(n_splits=5, random_state=1, shuffle=True)
    X_train = X_test = y_train = y_test = []
    for train_index, test_index in kf.split(X):
        X_train, X_test = X.iloc[train_index], X.iloc[test_index]
        y_train, y_test = y.iloc[train_index], y.iloc[test_index]
    clf.fit(X_train, y_train)
    predictions = clf.predict(X_test)
    result = r2_score(y_test, predictions)
    print(result)
    if(result > 0.52):
        print("Minimal value is {}, score is {}".format(n, r2_score))

-0.047971387730337156
0.3323981874194748
0.4025962006032141
0.44436539848711676
0.4698096481936631
0.4768729974275989
0.488224996456911
0.4888314237123671
0.49623898491660035
0.5055152588487807
0.49519799679290954
0.498309612200615
0.5040197641257023
0.5102993710166106
0.5073396370953985
0.5095521429544709
0.5116606063923521
0.5140265403070359
0.5175062218284301
0.5150562391378122
0.520334821329153
Minimal value is 21, score is <function r2_score at 0x1a1c8d5158>
0.5168315428334818
0.5182331401020923
0.5217264133923195
Minimal value is 24, score is <function r2_score at 0x1a1c8d5158>
0.5203900001028373
Minimal value is 25, score is <function r2_score at 0x1a1c8d5158>
0.5215884573210899
Minimal value is 26, score is <function r2_score at 0x1a1c8d5158>
0.5261284420142119
Minimal value is 27, score is <function r2_score at 0x1a1c8d5158>
0.5278437108991596
Minimal value is 28, score is <function r2_score at 0x1a1c8d5158>
0.5275211245408782
Minimal value is 29, score is <function r2_score at 0x1a1c8d5158>
0.5275819894704419
Minimal value is 30, score is <function r2_score at 0x1a1c8d5158>
0.5302205502558262
Minimal value is 31, score is <function r2_score at 0x1a1c8d5158>
0.5321112378353597
Minimal value is 32, score is <function r2_score at 0x1a1c8d5158>
0.5318693980350913
Minimal value is 33, score is <function r2_score at 0x1a1c8d5158>
0.5326968452079273
Minimal value is 34, score is <function r2_score at 0x1a1c8d5158>
0.5323741461320155
Minimal value is 35, score is <function r2_score at 0x1a1c8d5158>
0.5327110267700315
Minimal value is 36, score is <function r2_score at 0x1a1c8d5158>
0.5306590347031803
Minimal value is 37, score is <function r2_score at 0x1a1c8d5158>
0.5325903220099775
Minimal value is 38, score is <function r2_score at 0x1a1c8d5158>
0.5320585713087926
Minimal value is 39, score is <function r2_score at 0x1a1c8d5158>
0.5326276697292589
Minimal value is 40, score is <function r2_score at 0x1a1c8d5158>
0.5320993553869627
Minimal value is 41, score is <function r2_score at 0x1a1c8d5158>
0.5324906438645467
Minimal value is 42, score is <function r2_score at 0x1a1c8d5158>
0.5317826334558255
Minimal value is 43, score is <function r2_score at 0x1a1c8d5158>
0.5312053710333267
Minimal value is 44, score is <function r2_score at 0x1a1c8d5158>
0.5298305036667112
Minimal value is 45, score is <function r2_score at 0x1a1c8d5158>
0.5304883321440765
Minimal value is 46, score is <function r2_score at 0x1a1c8d5158>
0.5320575044445401
Minimal value is 47, score is <function r2_score at 0x1a1c8d5158>
0.5342404759823531
Minimal value is 48, score is <function r2_score at 0x1a1c8d5158>
0.5344848887255009
Minimal value is 49, score is <function r2_score at 0x1a1c8d5158>
0.5359781911509989
Minimal value is 50, score is <function r2_score at 0x1a1c8d5158>